html 
{
   margin: 0px;
   height: 100%;
   width: 100%;
}

body 
{
   margin: 0px;
   min-height: 100%;
   width: 100%;
   overflow-x: hidden;
}

.innerContainer
{
    text-align: center;
    z-index: 2;
    margin-top: calc(50vh - 50px);
    height: 100px;
}

.innerContainer h1
{
    vertical-align: middle;
    font-size: 112px;
    line-height: 100px;
    margin: 0;
    color: white;
}