@import './consts';

.aboutMeSection {
  & > div {
    img {
      width: 100%;
      max-height: 80%;
      object-fit: cover;
      border: 2px solid $blue-1;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &.reverse > div:last-child {
    order: -1;
  }
}

@media only screen and (min-width: 992px) {
  .aboutMeSection {
    display: flex;
  }
}