@import './consts';

.aboutMeSection {
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 1.3rem;
      margin: 6px 0;
      text-indent: 2rem;
      line-height: 1.5;
    }

    img {
      width: 100%;
      max-height: 80%;
      object-fit: cover;
      border: 2px solid $blue-1;
      border-radius: 10px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
  }

  &.reverse > div:last-child {
    order: -1;
  }
}

@media only screen and (min-width: 992px) {
  .aboutMeSection {
    display: flex;
  }
}