@import './consts';
@import url('https://fonts.googleapis.com/css?family=Nunito');

$header-height: 60px;
$logo-size: 100px;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

h2, h3, h4 {
  margin: 0;
  display: inline-flex;
  position: relative;
  padding-right: 10px;
  padding-bottom: 4px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    border: 1px solid black;
    border-left: none;
    border-top: none;
  }
}

h2 {
  margin: 0 10px 20px 10px;
}

p {
  font-size: 1.2rem;
}

a.button {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border: 3px solid $blue-1;
  border-radius: 25px;
  height: 50px;
  padding: 8px 25px;
  color: $blue-1;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;

  img {
    height: 100%;
    width: auto;
    margin-right: 10px;
    transition: filter 0.4s;
  }

  &:hover {
    background-color: $blue-1;
    color: white;

    img {
      filter: saturate(0) grayscale(1) brightness(3);
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 12px;

  span {
    display: inline-flex;
    height: 12px;
    width: 12px;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.4s, filter 0.4s;

    &.before, &.after {
      background-image: url('../imgs/arrow.svg');
      background-size: 12px;

      &:hover {
        filter: brightness(1.2);
      }
    }
  
    &.before {
      transform: rotateZ(180deg); 
    }
  
    &.circle {
      border-radius: 100%;
      background-color: $blue-1;
  
      &.active {
        background-color: $blue-2;
      }
    }
  }
}

header {
  display: inline-flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: transparentize($color: white, $amount: 0.15);
  z-index: 100;
  transition: background-color 0.4s;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $logo-size + 20px;
    height: $logo-size + 20px;
    transform: translateX(calc(50vw - #{$logo-size / 2} - 10px));
    border-top: calc(#{$logo-size + 20} / 2) solid transparent;
    border-bottom: calc(#{$logo-size + 20} / 2) solid transparentize($color: white, $amount: 0.15);
    border-radius: 100%;
    transition: transform 0.4s ease 0.4s, height 0.4s, width 0.4s, border-bottom 0.4s;

    img {
      width: $logo-size;
      height: $logo-size;
      transition: height 0.4s, width 0.4s;
    }
  }

  nav a {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 18px;
    color: #252525;
    transition: color 0.4s, background-color 0.4s;

    &:hover {
      background-color: transparentize($color: white, $amount: 0.5);
    }
  }

  &.inverse {
    background-color: transparentize($color: black, $amount: 0.30);

    div {
      width: $header-height - 20px;
      height: $header-height;
      transform: translateX(10px);
      border: none;
  
      img {
        width: $header-height - 20px;
        height: $header-height - 20px;
      }
    }

    nav a {
      color: white;

      &:hover {
        background-color: transparentize($color: black, $amount: 0.5);
      }
    }
  }
}

section.intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 8rem;
    color: white;
  }

  a {
    bottom: 40px;
    position: absolute;
    display: block;
    width: 75px;
    height: 30px;
    margin: 0 auto;
    z-index: 1;

    svg {
      width: 100%;
      height: 100%;

      fill: transparent;
      stroke: white;
    }
  }
}

section:not(.intro) {
  padding: 40px 15%;
  background-color: white;

  &:nth-child(even) {
    background-color: #fafafa;
  }
}

section.contact {
  & > div {
    flex: 1;
  }

  & > .row {
    margin-bottom: 0;

    & > .col:first-child {
      padding-left: 0;
      margin-bottom: 40px;
    }

    .row:last-child {
      margin-bottom: 0;

      .col {
        margin-bottom: 0;
      }
    }
  }
}

footer {
  display: flex;
  height: 60px;
  background-color: $blue-3;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.row > .col {
  & > p:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  header nav {
    display: none;
  }

  section.intro {
    h1 {
      font-size: 4rem;
      text-align: center;
    }
  }

  .row {
    margin-bottom: 10px;
  }

  section:not(.intro) {
    padding: 30px 5%;
  }

  .monitor {
    margin-bottom: 20px;
  }

  section.contact > .row > .col:first-child {
    margin-bottom: 40px;
  }
}