.monitor {
  & > div:first-child {
    position: relative;
    width: 100%;
    padding-bottom: calc(56.25% + 20px);
    background-color: #252525;
    border-radius: 10px;

    & > div {
      position: absolute;
      width: calc(100% - 20px);
      padding-bottom: calc(56.25% - 22px);
      background-color: white;
      margin: 10px;
    }
  }

  & > div:nth-child(2) {
    width: 25px;
    height: 40px;
    background-color: #252525;
    margin: 0 auto;
  }

  & > div:last-child {
    width: 50%;
    padding-bottom: 5%;
    border-radius: 50%;
    background-color: #252525;
    margin: 0 auto;
    margin-top: -10px;
  }
}